In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_changes3 = pd.read_csv("movies_changes3.csv")

In [3]:
movies_changes3.columns

Index(['Unnamed: 0', 'Name', 'Year', 'Rating', 'Votes', 'Runtime', 'Type',
       'Episodes', 'Nudity', 'Violence', 'Profanity', 'Alcohol', 'Frightening',
       'Metascore', 'Description1', 'Gross', 'Description2', 'Director',
       'Description3', 'Description4', 'Language', 'Average_Votes', 'Premiere',
       'Poster_Link', 'Description5', 'Genre_1', 'Genres_2', 'Genre_3',
       'Genre_4', 'Genre_5', 'Genre_6', 'Actor_1', 'Actor_2', 'Actor_3',
       'Actor_4', 'Certificate_1', 'Certificate_2'],
      dtype='object')

#### 12. Union the columns of the movies_changes2.csv (Description1, Description2, Description3,Description4, Description5 )

#### 12.1 columns to string

In [4]:
movies_changes3['Description1'] = movies_changes3['Description1'].astype("string")
movies_changes3.Description1.dtypes

string[python]

In [5]:
movies_changes3['Description2'] = movies_changes3['Description2'].astype("string")
movies_changes3.Description2.dtypes

string[python]

In [6]:
movies_changes3['Description3'] = movies_changes3['Description3'].astype("string")
movies_changes3.Description3.dtypes

string[python]

In [7]:
movies_changes3['Description4'] = movies_changes3['Description4'].astype("string")
movies_changes3.Description4.dtypes

string[python]

In [8]:
movies_changes3['Description5'] = movies_changes3['Description5'].astype("string")
movies_changes3.Description5.dtypes

string[python]

#### 12.2 concat & union

##### 12.2.1 description_concat1

In [9]:
description_concat1 = pd.concat([movies_changes3.Description1,movies_changes3.Description2,
                                 movies_changes3.Description3, movies_changes3.Description4,
                                 movies_changes3.Description5], axis=1)
description_concat1

,Description1,Description2,Description3,Description4,Description5
0,"After earning 00 status and a licence to kill,...",<NA>,<NA>,<NA>,<NA>
1,"After earning 00 status and a licence to kill,...",<NA>,<NA>,<NA>,<NA>
2,James Bond's loyalty to M is tested when her p...,<NA>,<NA>,<NA>,<NA>
3,"Viago, Deacon and Vladislav are vampires who a...",<NA>,<NA>,<NA>,<NA>
4,"Viago, Deacon and Vladislav are vampires who a...",<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...
5798,<NA>,<NA>,<NA>,<NA>,A case of mistaken identity lands Slevin into ...
5799,<NA>,<NA>,<NA>,<NA>,"In a murder trial, the defendant says he suffe..."
5800,<NA>,<NA>,<NA>,<NA>,"A widowed single mother, raising her violent s..."
5801,<NA>,<NA>,<NA>,<NA>,A disgraced ex-policeman who runs a small ring...
5802,<NA>,<NA>,<NA>,<NA>,An insurance representative lets himself be ta...

In [10]:
description_concat1.fillna('kkempty', inplace=True)
description_concat1

,Description1,Description2,Description3,Description4,Description5
0,"After earning 00 status and a licence to kill,...",kkempty,kkempty,kkempty,kkempty
1,"After earning 00 status and a licence to kill,...",kkempty,kkempty,kkempty,kkempty
2,James Bond's loyalty to M is tested when her p...,kkempty,kkempty,kkempty,kkempty
3,"Viago, Deacon and Vladislav are vampires who a...",kkempty,kkempty,kkempty,kkempty
4,"Viago, Deacon and Vladislav are vampires who a...",kkempty,kkempty,kkempty,kkempty
...,...,...,...,...,...
5798,kkempty,kkempty,kkempty,kkempty,A case of mistaken identity lands Slevin into ...
5799,kkempty,kkempty,kkempty,kkempty,"In a murder trial, the defendant says he suffe..."
5800,kkempty,kkempty,kkempty,kkempty,"A widowed single mother, raising her violent s..."
5801,kkempty,kkempty,kkempty,kkempty,A disgraced ex-policeman who runs a small ring...
5802,kkempty,kkempty,kkempty,kkempty,An insurance representative lets himself be ta...

##### 12.2.2 certificate_union1

In [11]:
description_concat1["description_union1"] = (
    description_concat1[['Description1', 'Description2', 'Description3', 'Description4', 'Description5']]
        .apply(lambda x: x.str.split('<\s*'))
        .sum(axis=1).map(np.array)
        .apply(lambda x: ', '.join(np.unique(x[x != 'kkempty'])))        
        .replace('', 'kkempty')
    )
description_concat1.description_union1

0       After earning 00 status and a licence to kill,...
1       After earning 00 status and a licence to kill,...
2       James Bond's loyalty to M is tested when her p...
3       Viago, Deacon and Vladislav are vampires who a...
4       Viago, Deacon and Vladislav are vampires who a...
                              ...
5798    A case of mistaken identity lands Slevin into ...
5799    In a murder trial, the defendant says he suffe...
5800    A widowed single mother, raising her violent s...
5801    A disgraced ex-policeman who runs a small ring...
5802    An insurance representative lets himself be ta...
Name: description_union1, Length: 5803, dtype: object

#### 12.3 split description_concat1.description_union1

In [12]:
d_split = description_concat1[['description_union1']].copy()
d_split[['Description']] = d_split['description_union1'].str.split('<', expand=True)
d_split= d_split.drop(['description_union1'], axis=1)
d_split

                                            Description
0     After earning 00 status and a licence to kill,...
1     After earning 00 status and a licence to kill,...
2     James Bond's loyalty to M is tested when her p...
3     Viago, Deacon and Vladislav are vampires who a...
4     Viago, Deacon and Vladislav are vampires who a...
...                                                 ...
5798  A case of mistaken identity lands Slevin into ...
5799  In a murder trial, the defendant says he suffe...
5800  A widowed single mother, raising her violent s...
5801  A disgraced ex-policeman who runs a small ring...
5802  An insurance representative lets himself be ta...

[5803 rows x 1 columns]

#### 12.4 removing the old columns and replcae with the d_split to movies_change3 (movies_change4)

In [13]:
movies_changes3 = movies_changes3.drop(['Description1', 'Description2', 'Description3',
                                       'Description4', 'Description5'], axis=1)
movies_changes3.columns

Index(['Unnamed: 0', 'Name', 'Year', 'Rating', 'Votes', 'Runtime', 'Type',
       'Episodes', 'Nudity', 'Violence', 'Profanity', 'Alcohol', 'Frightening',
       'Metascore', 'Gross', 'Director', 'Language', 'Average_Votes',
       'Premiere', 'Poster_Link', 'Genre_1', 'Genres_2', 'Genre_3', 'Genre_4',
       'Genre_5', 'Genre_6', 'Actor_1', 'Actor_2', 'Actor_3', 'Actor_4',
       'Certificate_1', 'Certificate_2'],
      dtype='object')

In [14]:
movies_changes4 = pd.concat([movies_changes3, d_split], axis=1)
movies_changes4.columns

Index(['Unnamed: 0', 'Name', 'Year', 'Rating', 'Votes', 'Runtime', 'Type',
       'Episodes', 'Nudity', 'Violence', 'Profanity', 'Alcohol', 'Frightening',
       'Metascore', 'Gross', 'Director', 'Language', 'Average_Votes',
       'Premiere', 'Poster_Link', 'Genre_1', 'Genres_2', 'Genre_3', 'Genre_4',
       'Genre_5', 'Genre_6', 'Actor_1', 'Actor_2', 'Actor_3', 'Actor_4',
       'Certificate_1', 'Certificate_2', 'Description'],
      dtype='object')

In [15]:
movies_changes4= movies_changes4.drop(['Unnamed: 0'], axis=1)
movies_changes4.columns

Index(['Name', 'Year', 'Rating', 'Votes', 'Runtime', 'Type', 'Episodes',
       'Nudity', 'Violence', 'Profanity', 'Alcohol', 'Frightening',
       'Metascore', 'Gross', 'Director', 'Language', 'Average_Votes',
       'Premiere', 'Poster_Link', 'Genre_1', 'Genres_2', 'Genre_3', 'Genre_4',
       'Genre_5', 'Genre_6', 'Actor_1', 'Actor_2', 'Actor_3', 'Actor_4',
       'Certificate_1', 'Certificate_2', 'Description'],
      dtype='object')

In [16]:
movies_changes4.Description = movies_changes4['Description'].str.replace('kkempty', '')

In [18]:
movies_changes4.to_csv('movies_changes4.csv')

In [ ]:
print(movies_changes4)