In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_changes2 = pd.read_csv("movies_changes2.csv")

In [3]:
movies_changes2.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Name', 'Year', 'Rating', 'Votes',
       'Runtime', 'Type', 'Certificate', 'Episodes', 'Nudity', 'Violence',
       'Profanity', 'Alcohol', 'Frightening', 'Metascore', 'Description1',
       'Gross', 'Description2', 'Director', 'Certificate4', 'Description3',
       'Description4', 'Language', 'Average_Votes', 'Premiere', 'Poster_Link',
       'Certificate7', 'Description5', 'Genre_1', 'Genres_2', 'Genre_3',
       'Genre_4', 'Genre_5', 'Genre_6', 'Actor_1', 'Actor_2', 'Actor_3',
       'Actor_4'],
      dtype='object')

#### 11. Union the columns of the movies_changes2.csv (Certificate4, Certificate7, Certificate)

#### 11.1 cheking columns with unique()

In [4]:
movies_changes2.Certificate4.unique()

array([nan, '12A', '15', 'X', '12', '18', 'PG', 'R', 'U', 'AA', 'A', 'UA',
       'Rejected', 'UA 13+'], dtype=object)

In [5]:
movies_changes2['Certificate4'] = movies_changes2['Certificate4'].astype("string")

In [6]:
movies_changes2.Certificate7.unique()

array([nan, 'PG-13', 'UA', 'R', 'A', 'U', 'Approved', 'TV-PG', 'PG', 'G',
       'Passed', 'TV-MA', 'U/A', '16'], dtype=object)

In [7]:
movies_changes2['Certificate7'] = movies_changes2['Certificate7'].astype("string")

In [8]:
movies_changes2.Certificate.unique()

array(['PG-13', 'Approved', 'TV-MA', 'R', 'PG', 'TV-14', 'TV-PG',
       '(Banned)', 'Unrated', 'None', 'G', 'Passed', 'NC-17', 'Not Rated',
       'X', 'GP', 'TV-Y7', 'M', 'TV-G', 'TV-Y', 'E', 'M/PG'], dtype=object)

In [9]:
movies_changes2['Certificate'] = movies_changes2['Certificate'].astype("string")

#### 11.2 concat & union

##### 11.2.1 certificate_concat1

In [10]:
certificate_concat1 = pd.concat([movies_changes2.Certificate4,movies_changes2.Certificate7,movies_changes2.Certificate], axis=1)
certificate_concat1

     Certificate4 Certificate7 Certificate
0            <NA>         <NA>       PG-13
1            <NA>         <NA>    Approved
2            <NA>         <NA>       PG-13
3            <NA>         <NA>       TV-MA
4            <NA>         <NA>           R
...           ...          ...         ...
5798         <NA>            R           R
5799         <NA>         <NA>   Not Rated
5800         <NA>            R           R
5801         <NA>         <NA>   Not Rated
5802         <NA>       Passed      Passed

[5803 rows x 3 columns]

In [11]:
certificate_concat1.fillna('empty', inplace=True)

##### 11.2.2 certificate_union1

In [12]:
certificate_concat1["certificate_union1"] = (
    certificate_concat1[['Certificate4', 'Certificate7', 'Certificate']]
        .apply(lambda x: x.str.split(',\s*'))
        .sum(axis=1).map(np.array)
        .apply(lambda x: ', '.join(np.unique(x[x != 'empty'])))        
        .replace('', 'empty')
    )
certificate_concat1.certificate_union1

0           PG-13
1        Approved
2           PG-13
3           TV-MA
4               R
          ...
5798            R
5799    Not Rated
5800            R
5801    Not Rated
5802       Passed
Name: certificate_union1, Length: 5803, dtype: object

#### 11.3 split certificate_concat1.certificate_union1

In [13]:
c_split = certificate_concat1[['certificate_union1']].copy()
c_split[['Certificate_1', 'Certificate_2']] = c_split['certificate_union1'].str.split(',', expand=True)
c_split= c_split.drop(['certificate_union1'], axis=1)
c_split

     Certificate_1 Certificate_2
0            PG-13          None
1         Approved          None
2            PG-13          None
3            TV-MA          None
4                R          None
...            ...           ...
5798             R          None
5799     Not Rated          None
5800             R          None
5801     Not Rated          None
5802        Passed          None

[5803 rows x 2 columns]

In [14]:
c_split.fillna('', inplace=True)
c_split

     Certificate_1 Certificate_2
0            PG-13
1         Approved
2            PG-13
3            TV-MA
4                R
...            ...           ...
5798             R
5799     Not Rated
5800             R
5801     Not Rated
5802        Passed

[5803 rows x 2 columns]

#### 11.4 removing the old columns and replcae with the c_split to movies_change2 (movies_change3)

In [15]:
movies_changes2 = movies_changes2.drop(['Certificate', 'Certificate4', 'Certificate7'], axis=1)
movies_changes2.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Name', 'Year', 'Rating', 'Votes',
       'Runtime', 'Type', 'Episodes', 'Nudity', 'Violence', 'Profanity',
       'Alcohol', 'Frightening', 'Metascore', 'Description1', 'Gross',
       'Description2', 'Director', 'Description3', 'Description4', 'Language',
       'Average_Votes', 'Premiere', 'Poster_Link', 'Description5', 'Genre_1',
       'Genres_2', 'Genre_3', 'Genre_4', 'Genre_5', 'Genre_6', 'Actor_1',
       'Actor_2', 'Actor_3', 'Actor_4'],
      dtype='object')

In [16]:
movies_changes3 = pd.concat([movies_changes2, c_split], axis=1)
movies_changes3.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Name', 'Year', 'Rating', 'Votes',
       'Runtime', 'Type', 'Episodes', 'Nudity', 'Violence', 'Profanity',
       'Alcohol', 'Frightening', 'Metascore', 'Description1', 'Gross',
       'Description2', 'Director', 'Description3', 'Description4', 'Language',
       'Average_Votes', 'Premiere', 'Poster_Link', 'Description5', 'Genre_1',
       'Genres_2', 'Genre_3', 'Genre_4', 'Genre_5', 'Genre_6', 'Actor_1',
       'Actor_2', 'Actor_3', 'Actor_4', 'Certificate_1', 'Certificate_2'],
      dtype='object')

In [17]:
movies_changes3= movies_changes3.drop(['Unnamed: 0.1', 'Unnamed: 0' ], axis=1)
movies_changes3.columns

Index(['Name', 'Year', 'Rating', 'Votes', 'Runtime', 'Type', 'Episodes',
       'Nudity', 'Violence', 'Profanity', 'Alcohol', 'Frightening',
       'Metascore', 'Description1', 'Gross', 'Description2', 'Director',
       'Description3', 'Description4', 'Language', 'Average_Votes', 'Premiere',
       'Poster_Link', 'Description5', 'Genre_1', 'Genres_2', 'Genre_3',
       'Genre_4', 'Genre_5', 'Genre_6', 'Actor_1', 'Actor_2', 'Actor_3',
       'Actor_4', 'Certificate_1', 'Certificate_2'],
      dtype='object')

In [18]:
movies_changes3.to_csv('movies_changes3.csv')

In [19]:
print(movies_changes3)

                           Name  Year  Rating   Votes  Runtime    Type  \
0                 Casino Royale  2006     8.0  613873      144    Film
1                 Casino Royale  1967     5.1   28917      131    Film
2                       Skyfall  2012     7.8  658977      143    Film
3     What We Do in the Shadows  2021     8.5   50078       30  Series
4     What We Do in the Shadows  2014     7.7  169214       86    Film
...                         ...   ...     ...     ...      ...     ...
5798        Lucky Number Slevin  2006     7.7  306275      110    Film
5799        Anatomy of a Murder  1959     8.0   63564      161    Film
5800                      Mommy  2014     8.1   54020      139    Film
5801                 Chugyeokja  2008     7.8   62423      125    Film
5802           Double Indemnity  1944     8.3  150448      107    Film

     Episodes    Nudity  Violence Profanity  ...     Genre_3    Genre_4  \
0           -      Mild  Moderate      Mild  ...    Thriller        NaN
1           -      Mild      Mild      Mild  ...      Comedy   Thriller
2           -      Mild  Moderate      Mild  ...    Thriller        NaN
3          31  Moderate  Moderate  Moderate  ...      Horror        NaN
4           -      Mild  Moderate  Moderate  ...         NaN        NaN
...       ...       ...       ...       ...  ...         ...        ...
5798        -  Moderate    Severe    Severe  ...       Drama   Thriller
5799        -      None      Mild      Mild  ...     Mystery        NaN
5800        -      Mild  Moderate    Severe  ...         NaN        NaN
5801        -      Mild    Severe  Moderate  ...    Thriller        NaN
5802        -      None      Mild      None  ...   Film-Noir        NaN

      Genre_5 Genre_6           Actor_1                 Actor_2  \
0         NaN     NaN               NaN                     NaN
1         NaN     NaN               NaN                     NaN
2         NaN     NaN               NaN                     NaN
3         NaN     NaN               NaN                     NaN
4         NaN     NaN               NaN                     NaN
...       ...     ...               ...                     ...
5798      NaN     NaN      Ben Kingsley           Josh Hartnett
5799      NaN     NaN  Arthur O'Connell             Ben Gazzara
5800      NaN     NaN       Anne Dorval   Antoine Olivier Pilon
5801      NaN     NaN       Jung-woo Ha           Kim Yoon-seok
5802      NaN     NaN  Barbara Stanwyck              Byron Barr

                  Actor_3           Actor_4 Certificate_1 Certificate_2
0                     NaN               NaN         PG-13
1                     NaN               NaN      Approved
2                     NaN               NaN         PG-13
3                     NaN               NaN         TV-MA
4                     NaN               NaN             R
...                   ...               ...           ...           ...
5798             Lucy Liu    Morgan Freeman             R
5799        James Stewart        Lee Remick     Not Rated
5800        Patrick Huard   Suzanne ClÃ©ment             R
5801        Yeong-hie Seo     Yoo-Jeong Kim     Not Rated
5802   Edward G. Robinson    Fred MacMurray        Passed

[5803 rows x 36 columns]