In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_changes3 = pd.read_csv("movies_changes3.csv")

In [3]:
movies_changes3.columns

Index(['Unnamed: 0', 'Name', 'Year', 'Rating', 'Votes', 'Runtime', 'Type',
       'Episodes', 'Nudity', 'Violence', 'Profanity', 'Alcohol', 'Frightening',
       'Metascore', 'Description1', 'Gross', 'Description2', 'Director',
       'Description3', 'Description4', 'Language', 'Average_Votes', 'Premiere',
       'Poster_Link', 'Description5', 'Genre_1', 'Genres_2', 'Genre_3',
       'Genre_4', 'Genre_5', 'Genre_6', 'Actor_1', 'Actor_2', 'Actor_3',
       'Actor_4', 'Certificate_1', 'Certificate_2'],
      dtype='object')

#### 12. Union the columns of the movies_changes2.csv (Description1, Description2, Description3,Description4, Description5 )

#### 12.1 columns to string

In [10]:
movies_changes3['Description1'] = movies_changes3['Description1'].astype("string")
movies_changes3.Description1.dtypes

string[python]

In [9]:
movies_changes3['Description2'] = movies_changes3['Description2'].astype("string")
movies_changes3.Description2.dtypes

string[python]

In [11]:
movies_changes3['Description2'] = movies_changes3['Description3'].astype("string")
movies_changes3.Description3.dtypes

string[python]

In [12]:
movies_changes3['Description4'] = movies_changes3['Description4'].astype("string")
movies_changes3.Description4.dtypes

string[python]

In [13]:
movies_changes3['Description5'] = movies_changes3['Description5'].astype("string")
movies_changes3.Description5.dtypes

string[python]

###### test

In [63]:
movies_changes3['descript'] = movies_changes3['Description4'].astype(str) 
movies_changes3['descript'] = movies_changes3['descript'].astype("string")
movies_changes3.descript

0       empty
1       empty
2       empty
3       empty
4       empty
        ...
5798    empty
5799    empty
5800    empty
5801    empty
5802    empty
Name: descript, Length: 5803, dtype: string

In [64]:
movies_changes3['Description11'] = movies_changes3['Description1'].astype(str)  
movies_changes3.Description11

0       After earning 00 status and a licence to kill,...
1       After earning 00 status and a licence to kill,...
2       James Bond's loyalty to M is tested when her p...
3       Viago, Deacon and Vladislav are vampires who a...
4       Viago, Deacon and Vladislav are vampires who a...
                              ...
5798                                                empty
5799                                                empty
5800                                                empty
5801                                                empty
5802                                                empty
Name: Description11, Length: 5803, dtype: object

In [65]:
description_concat = pd.concat([movies_changes3.descript,movies_changes3.Description11,], axis=1)
description_concat

     descript                                      Description11
0       empty  After earning 00 status and a licence to kill,...
1       empty  After earning 00 status and a licence to kill,...
2       empty  James Bond's loyalty to M is tested when her p...
3       empty  Viago, Deacon and Vladislav are vampires who a...
4       empty  Viago, Deacon and Vladislav are vampires who a...
...       ...                                                ...
5798    empty                                              empty
5799    empty                                              empty
5800    empty                                              empty
5801    empty                                              empty
5802    empty                                              empty

[5803 rows x 2 columns]

In [66]:
description_concat["description_union"] = (
    description_concat[['descript', 'Description11']]
        .apply(lambda x: x.str.split('<\s*'))
        .sum(axis=1).map(np.array)
        .apply(lambda x: ', '.join(np.unique(x[x != 'empty'])))        
        .replace('', 'empty')
    )
print(description_concat.description_union)

0       After earning 00 status and a licence to kill,...
1       After earning 00 status and a licence to kill,...
2       James Bond's loyalty to M is tested when her p...
3       Viago, Deacon and Vladislav are vampires who a...
4       Viago, Deacon and Vladislav are vampires who a...
                              ...
5798                                                empty
5799                                                empty
5800                                                empty
5801                                                empty
5802                                                empty
Name: description_union, Length: 5803, dtype: object

In [67]:
test_split = description_concat[['description_union']].copy()
test_split[['Description_test1']] = test_split['description_union'].str.split('<', expand=True)
test_split= test_split.drop(['description_union'], axis=1)
test_split

                                      Description_test1
0     After earning 00 status and a licence to kill,...
1     After earning 00 status and a licence to kill,...
2     James Bond's loyalty to M is tested when her p...
3     Viago, Deacon and Vladislav are vampires who a...
4     Viago, Deacon and Vladislav are vampires who a...
...                                                 ...
5798                                              empty
5799                                              empty
5800                                              empty
5801                                              empty
5802                                              empty

[5803 rows x 1 columns]

In [68]:
test_split.to_csv('test_split.csv')

#### 12.2 concat & union

##### 12.2.1 description_concat1

In [14]:
description_concat1 = pd.concat([movies_changes3.Description1,movies_changes3.Description2,
                                 movies_changes3.Description3, movies_changes3.Description4,
                                 movies_changes3.Description5], axis=1)
description_concat1

,Description1,Description2,Description3,Description4,Description5
0,"After earning 00 status and a licence to kill,...",<NA>,<NA>,<NA>,<NA>
1,"After earning 00 status and a licence to kill,...",<NA>,<NA>,<NA>,<NA>
2,James Bond's loyalty to M is tested when her p...,<NA>,<NA>,<NA>,<NA>
3,"Viago, Deacon and Vladislav are vampires who a...",<NA>,<NA>,<NA>,<NA>
4,"Viago, Deacon and Vladislav are vampires who a...",<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...
5798,<NA>,<NA>,<NA>,<NA>,A case of mistaken identity lands Slevin into ...
5799,<NA>,<NA>,<NA>,<NA>,"In a murder trial, the defendant says he suffe..."
5800,<NA>,<NA>,<NA>,<NA>,"A widowed single mother, raising her violent s..."
5801,<NA>,<NA>,<NA>,<NA>,A disgraced ex-policeman who runs a small ring...
5802,<NA>,<NA>,<NA>,<NA>,An insurance representative lets himself be ta...

In [16]:
description_concat1.fillna('empty', inplace=True)
description_concat1

,Description1,Description2,Description3,Description4,Description5
0,"After earning 00 status and a licence to kill,...",empty,empty,empty,empty
1,"After earning 00 status and a licence to kill,...",empty,empty,empty,empty
2,James Bond's loyalty to M is tested when her p...,empty,empty,empty,empty
3,"Viago, Deacon and Vladislav are vampires who a...",empty,empty,empty,empty
4,"Viago, Deacon and Vladislav are vampires who a...",empty,empty,empty,empty
...,...,...,...,...,...
5798,empty,empty,empty,empty,A case of mistaken identity lands Slevin into ...
5799,empty,empty,empty,empty,"In a murder trial, the defendant says he suffe..."
5800,empty,empty,empty,empty,"A widowed single mother, raising her violent s..."
5801,empty,empty,empty,empty,A disgraced ex-policeman who runs a small ring...
5802,empty,empty,empty,empty,An insurance representative lets himself be ta...

##### 12.2.2 certificate_union1

In [17]:
description_concat1["description_union1"] = (
    description_concat1[['Description1', 'Description2', 'Description3', 'Description4', 'Description5']]
        .apply(lambda x: x.str.split(',\s*'))
        .sum(axis=1).map(np.array)
        .apply(lambda x: ', '.join(np.unique(x[x != 'empty'])))        
        .replace('', 'empty')
    )
description_concat1.description_union1

0       After earning 00 status and a licence to kill,...
1       After earning 00 status and a licence to kill,...
2       007 must track down and destroy the threat, Ja...
3       Deacon and Vladislav are vampires who are find...
4       Deacon and Vladislav are vampires who are find...
                              ...
5798    A case of mistaken identity lands Slevin into ...
5799    In a murder trial, and will he win his case?, ...
5800    A widowed single mother, finds new hope when a...
5801    A disgraced ex-policeman who runs a small ring...
5802    An insurance representative lets himself be ta...
Name: description_union1, Length: 5803, dtype: object

#### 12.3 split description_concat1.description_union1

In [26]:
d_split = description_concat1[['description_union1']].copy()
d_split[['Description_1', 'Description_2', 'Description_3', 'Description_4']] = d_split['description_union1'].str.split(''', expand=True)
d_split= d_split.drop(['description_union1'], axis=1)
d_split

SyntaxError: EOF while scanning triple-quoted string literal (3377800257.py, line 4)