In [1]:
import pandas as pd
import numpy as np

In [2]:
without_dub_union = pd.read_csv("without_dub_union.csv")

#### 9.1.Split the Genres columns

##### Genre1 to genre1_1 (G1, G2, G3)

In [3]:
genre_1 = without_dub_union[['Genre1']].copy()
genre_1[['G1', 'G2', 'G3']] = genre_1['Genre1'].str.split(',', expand=True)
genre1_1= genre_1.drop(['Genre1'], axis=1)
genre1_1

          G1          G2          G3
0     Action   Adventure    Thriller
1     Comedy        None        None
2     Action   Adventure    Thriller
3     Comedy     Fantasy      Horror
4     Comedy      Horror        None
...      ...         ...         ...
5798   Crime       Drama    Thriller
5799   Drama     Mystery        None
5800   Drama        None        None
5801  Action       Crime    Thriller
5802   Crime       Drama   Film-Noir

[5803 rows x 3 columns]

##### Genre 2 to genre2_1 (G4, G5, G6)

In [4]:
genre_2 = without_dub_union[['Genre2']].copy()
genre_2[['G4', 'G5', 'G6']] = genre_2['Genre2'].str.split(',', expand=True)
genre2_1= genre_2.drop(['Genre2'], axis=1)
genre2_1

          G4          G5         G6
0     Action   Adventure   Thriller
1     Action   Adventure   Thriller
2     Action   Adventure   Thriller
3     Comedy      Horror       None
4     Comedy      Horror       None
...      ...         ...        ...
5798     NaN         NaN        NaN
5799     NaN         NaN        NaN
5800     NaN         NaN        NaN
5801     NaN         NaN        NaN
5802     NaN         NaN        NaN

[5803 rows x 3 columns]

##### Genre3 to genre3_1 ( G7, G8, G9)

In [5]:
genre_3 = without_dub_union[['Genre3']].copy()
genre_3[['G7', 'G8', 'G9']] = genre_3['Genre3'].str.split(',', expand=True)
genre3_1= genre_3.drop(['Genre3'], axis=1)
genre3_1

       G7   G8   G9
0     NaN  NaN  NaN
1     NaN  NaN  NaN
2     NaN  NaN  NaN
3     NaN  NaN  NaN
4     NaN  NaN  NaN
...   ...  ...  ...
5798  NaN  NaN  NaN
5799  NaN  NaN  NaN
5800  NaN  NaN  NaN
5801  NaN  NaN  NaN
5802  NaN  NaN  NaN

[5803 rows x 3 columns]

##### Genre4 to genre4_1 (G10, G11, G12)

In [6]:
genre_4 = without_dub_union[['Genre4']].copy()
genre_4[['G10', 'G11', 'G12']] = genre_4['Genre4'].str.split(',', expand=True)
genre4_1= genre_4.drop(['Genre4'], axis=1)
genre4_1

      G10  G11  G12
0     NaN  NaN  NaN
1     NaN  NaN  NaN
2     NaN  NaN  NaN
3     NaN  NaN  NaN
4     NaN  NaN  NaN
...   ...  ...  ...
5798  NaN  NaN  NaN
5799  NaN  NaN  NaN
5800  NaN  NaN  NaN
5801  NaN  NaN  NaN
5802  NaN  NaN  NaN

[5803 rows x 3 columns]

##### Genre5 to genre5_1 (G16)

In [7]:
without_dub_union.Genre5.unique()

array([nan, 'Comedy', 'Horror thriller', 'Zombie/Heist',
       'Historical drama', 'Psychological thriller', 'Biopic',
       'Crime drama', 'Action', 'Teen comedy horror', 'Horror',
       'Superhero/Action', 'Western', 'Drama', 'Thriller',
       'Comedy/Horror', 'Musical comedy', 'Action-adventure', 'War drama',
       'Horror/Crime drama', 'Comedy mystery', 'Romantic thriller',
       'Horror-thriller', 'Romantic comedy', 'Historical-epic',
       'Superhero', 'Romantic comedy/Holiday', 'Action-thriller',
       'Action comedy', 'Science fiction', 'Superhero-Comedy',
       'Urban fantasy', 'Romance', 'Documentary', 'Romantic drama',
       'Comedy-drama', 'Science fiction/Drama',
       'Science fiction/Thriller', 'Animation/Christmas/Comedy/Adventure',
       'Psychological horror', 'Action/Science fiction',
       'Science fiction/Mystery', 'Hidden-camera prank comedy',
       'Spy thriller'], dtype=object)

In [8]:
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("/",",")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("-"," ")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("Science fiction","Sci-Fi")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("Hidden camera","Hidden-camera")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace(" ",",")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("thriller","Thriller,")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("drama","Drama")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("comedy","Comedy")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("horror","Horror")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("adventure","Adventure")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("fantasy","Fantasy")
without_dub_union.Genre5 = without_dub_union.Genre5.str.replace("prank","Prank")

In [9]:
without_dub_union.Genre5

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
5798    NaN
5799    NaN
5800    NaN
5801    NaN
5802    NaN
Name: Genre5, Length: 5803, dtype: object

##### Genre6 to genre6_1 (G13, G14, G15)

In [10]:
genre_6 = without_dub_union[['Genre6']].copy()
genre_6[['G13', 'G14','G15']] = genre_6['Genre6'].str.split(',', expand=True)
genre6_1= genre_6.drop(['Genre6'], axis=1)
genre6_1

         G13     G14         G15
0        NaN     NaN         NaN
1        NaN     NaN         NaN
2        NaN     NaN         NaN
3        NaN     NaN         NaN
4        NaN     NaN         NaN
...      ...     ...         ...
5798  Action   Crime       Drama
5799   Crime   Drama     Mystery
5800   Drama    None        None
5801  Action   Crime    Thriller
5802   Crime   Drama   Film-Noir

[5803 rows x 3 columns]

#### 9.2. Changes with unique(), concat and union

#### 9.2.1

##### genre1_1

In [11]:
genre1_1.columns

Index(['G1', 'G2', 'G3'], dtype='object')

In [12]:
genre1_1.fillna('empty', inplace=True)

In [13]:
genre1_1['G1'] = genre1_1['G1'].astype("string")

In [14]:
genre1_1.G1.unique()

<StringArray>
[   'Action',    'Comedy',    'Horror',     'Crime',     'Drama', 'Biography',
 'Adventure', 'Animation',   'Mystery',    'Family',   'Western',   'Fantasy',
    'Sci-Fi',  'Thriller',   'Romance',   'Musical', 'Game-Show',     'Short']
Length: 18, dtype: string

In [15]:
genre1_1.G2.unique()

array([' Adventure', 'empty', ' Fantasy', ' Horror', ' Thriller',
       ' Crime', ' Romance', ' Drama', ' Sci-Fi', ' Comedy', ' Family',
       ' Western', ' Mystery', ' War', ' Action', ' Music', ' Biography',
       ' History', ' Sport', ' Film-Noir', ' Musical', ' Game-Show',
       ' Reality-TV'], dtype=object)

In [16]:
genre1_1['G2'] = genre1_1['G2'].astype("string")

In [17]:
genre1_1.G2 = genre1_1['G2'].str.replace(' ', '')

In [18]:
genre1_1.G3.unique()

array([' Thriller', 'empty', ' Horror', ' Drama', ' Mystery', ' Crime',
       ' Fantasy', ' Sci-Fi', ' War', ' Family', ' Romance', ' Comedy',
       ' Music', ' History', ' Adventure', ' Sport', ' Western',
       ' Musical', ' Film-Noir', ' Biography', ' Reality-TV'],
      dtype=object)

In [19]:
genre1_1.G3 = genre1_1['G3'].str.replace(' ', '')

In [20]:
genre1_1['G3'] = genre1_1['G3'].astype("string")
genre1_1.G3

0        Thriller
1           empty
2        Thriller
3          Horror
4           empty
          ...
5798     Thriller
5799        empty
5800        empty
5801     Thriller
5802    Film-Noir
Name: G3, Length: 5803, dtype: string

##### genre2_1

In [21]:
genre2_1.columns
genre2_1.fillna('empty', inplace=True)

In [22]:
genre2_1.G4.unique()
genre2_1['G4'] = genre2_1['G4'].astype("string")

In [23]:
genre2_1.G5.unique()

array([' Adventure', ' Horror', ' Thriller', ' Crime', ' Romance',
       ' Drama', ' Sci-Fi', 'empty', ' Family', ' Comedy', ' Western',
       ' Mystery', ' Fantasy', ' War', ' Action', ' Music', ' Biography',
       ' History', ' Sport', ' Film-Noir', ' Musical'], dtype=object)

In [24]:
genre2_1.G5 = genre2_1['G5'].str.replace(' ', '')
genre2_1['G5'] = genre2_1['G5'].astype("string")

In [25]:
genre2_1.G6.unique()

array([' Thriller', 'empty', ' Drama', ' Mystery', ' Fantasy', ' Sci-Fi',
       ' War', ' Family', ' Comedy', ' Music', ' Film-Noir', ' Crime',
       ' History', ' Romance', ' Adventure', ' Sport', ' Western',
       ' Musical', ' Horror'], dtype=object)

In [26]:
genre2_1.G6 = genre2_1['G6'].str.replace(' ', '')
genre2_1['G6'] = genre2_1['G6'].astype("string")

##### genres1_1 and genres2_1 concat (genres_concat1)

In [27]:
genres_concat1 = pd.concat([genre1_1.G1,genre1_1.G2,genre1_1.G3,genre2_1.G4,genre2_1.G5,genre2_1.G6], axis=1)
genres_concat1

          G1         G2         G3      G4         G5        G6
0     Action  Adventure   Thriller  Action  Adventure  Thriller
1     Comedy      empty      empty  Action  Adventure  Thriller
2     Action  Adventure   Thriller  Action  Adventure  Thriller
3     Comedy    Fantasy     Horror  Comedy     Horror     empty
4     Comedy     Horror      empty  Comedy     Horror     empty
...      ...        ...        ...     ...        ...       ...
5798   Crime      Drama   Thriller   empty      empty     empty
5799   Drama    Mystery      empty   empty      empty     empty
5800   Drama      empty      empty   empty      empty     empty
5801  Action      Crime   Thriller   empty      empty     empty
5802   Crime      Drama  Film-Noir   empty      empty     empty

[5803 rows x 6 columns]

##### genres_union1

In [28]:
genres_concat1["genres_union1"] = (
    genres_concat1[['G1', 'G2', 'G3', 'G4', 'G5', 'G6']]
        .apply(lambda x: x.str.split(',\s*'))
        .sum(axis=1).map(np.array)
        .apply(lambda x: ', '.join(np.unique(x[x != 'empty'])))        
        .replace('', 'empty')
    )
genres_concat1.genres_union1

0               Action, Adventure, Thriller
1       Action, Adventure, Comedy, Thriller
2               Action, Adventure, Thriller
3                   Comedy, Fantasy, Horror
4                            Comedy, Horror
                       ...
5798                 Crime, Drama, Thriller
5799                         Drama, Mystery
5800                                  Drama
5801                Action, Crime, Thriller
5802                Crime, Drama, Film-Noir
Name: genres_union1, Length: 5803, dtype: object

#### 9.2.2

##### genre3_1

In [29]:
genre3_1.columns

Index(['G7', 'G8', 'G9'], dtype='object')

In [30]:
genre3_1.fillna('empty', inplace=True)

In [31]:
genre3_1.G7.unique()

array(['empty', 'Action', 'Comedy', 'Drama', 'Biography', 'Crime',
       'Adventure', 'Horror', 'Mystery', 'Animation', 'Thriller',
       'Fantasy', 'Romance', 'Sci-Fi'], dtype=object)

In [32]:
genre3_1['G7'] = genre3_1['G7'].astype("string")

In [33]:
genre3_1.G8.unique()

array(['empty', 'Adventure', 'Fantasy', 'Family', 'Comedy', 'Drama',
       'Horror', 'Crime', 'Sci-Fi', 'Western', 'Thriller', 'Mystery',
       'Romance', 'Music', 'History', 'War', 'Biography', 'Musical',
       'Sport', 'Action'], dtype=object)

In [34]:
genre3_1['G8'] = genre3_1['G8'].astype("string")

In [35]:
genre3_1.G9.unique()

array(['empty', 'Thriller', 'Horror', 'Fantasy', 'Crime', 'History',
       'Sci-Fi', 'Drama', 'Mystery', 'Romance', 'War', 'Comedy', 'Family',
       'Sport', 'Music', 'Western', 'Musical', 'Biography', 'Adventure'],
      dtype=object)

In [36]:
genre3_1['G9'] = genre3_1['G9'].astype("string")

##### genre4_1

In [37]:
genre4_1.columns

Index(['G10', 'G11', 'G12'], dtype='object')

In [38]:
genre4_1.fillna('empty', inplace=True)

In [39]:
genre4_1.G10.unique()

array(['empty', 'Action', 'Comedy', 'Horror', 'Drama', 'Biography',
       'Crime', 'Animation', 'Adventure', 'Mystery', 'Family', 'Western',
       'Fantasy'], dtype=object)

In [40]:
genre4_1['G10'] = genre4_1['G10'].astype("string")

In [41]:
genre4_1.G11.unique()

array(['empty', ' Adventure', ' Horror', ' Thriller', ' Crime',
       ' Romance', ' Drama', ' Sci-Fi', ' Comedy', ' Family', ' Mystery',
       ' Western', ' Fantasy', ' War', ' Biography', ' Action', ' Music',
       ' Sport', ' History', ' Film-Noir', ' Musical'], dtype=object)

In [42]:
genre4_1['G11'] = genre4_1['G11'].astype("string")

In [43]:
genre4_1.G11 = genre4_1['G11'].str.replace(' ', '')

In [44]:
genre4_1.G12.unique()

array(['empty', ' Drama', ' Thriller', ' Fantasy', ' Mystery', ' Crime',
       ' Sci-Fi', ' War', ' Music', ' Family', ' Comedy', ' Horror',
       ' Film-Noir', ' History', ' Romance', ' Adventure', ' Sport',
       ' Western', ' Musical'], dtype=object)

In [45]:
genre4_1.G12 = genre4_1['G12'].str.replace(' ', '')

In [46]:
genre4_1['G11'] = genre4_1['G11'].astype("string")

##### genres3_1 and genres4_1 concat (genres_concat2)

In [47]:
genres_concat2 = pd.concat([genre3_1.G7,genre3_1.G8,genre3_1.G9,genre4_1.G10,genre4_1.G11,genre4_1.G12], axis=1)
genres_concat2

         G7     G8     G9    G10    G11    G12
0     empty  empty  empty  empty  empty  empty
1     empty  empty  empty  empty  empty  empty
2     empty  empty  empty  empty  empty  empty
3     empty  empty  empty  empty  empty  empty
4     empty  empty  empty  empty  empty  empty
...     ...    ...    ...    ...    ...    ...
5798  empty  empty  empty  empty  empty  empty
5799  empty  empty  empty  empty  empty  empty
5800  empty  empty  empty  empty  empty  empty
5801  empty  empty  empty  empty  empty  empty
5802  empty  empty  empty  empty  empty  empty

[5803 rows x 6 columns]

##### genres_union2

In [48]:
genres_concat2["genres_union2"] = (
    genres_concat2[['G7', 'G8', 'G9', 'G10', 'G11', 'G12']]
        .apply(lambda x: x.str.split(',\s*'))
        .sum(axis=1).map(np.array)
        .apply(lambda x: ', '.join(np.unique(x[x != 'empty'])))        
        .replace('', 'empty')
    )
genres_concat2.genres_union2

0       empty
1       empty
2       empty
3       empty
4       empty
        ...
5798    empty
5799    empty
5800    empty
5801    empty
5802    empty
Name: genres_union2, Length: 5803, dtype: object

#### 9.2.3

##### genre6_1

In [49]:
genre6_1.columns

Index(['G13', 'G14', 'G15'], dtype='object')

In [50]:
genre6_1.fillna('empty', inplace=True)

In [51]:
genre6_1['G13'] = genre6_1['G13'].astype("string")

In [52]:
genre6_1.G13.unique()

<StringArray>
[    'empty',    'Action',    'Comedy',    'Horror',     'Drama',     'Crime',
 'Biography', 'Adventure', 'Animation',   'Mystery',   'Western',    'Family',
   'Fantasy', 'Film-Noir']
Length: 14, dtype: string

In [53]:
genre6_1.G14.unique()

array(['empty', ' Adventure', ' Horror', ' Thriller', ' Crime', ' Drama',
       ' Romance', ' Sci-Fi', ' Family', ' Comedy', ' Western',
       ' Mystery', ' Fantasy', ' War', ' Action', ' Music', ' History',
       ' Biography', ' Sport', ' Film-Noir', ' Musical'], dtype=object)

In [54]:
genre6_1['G14'] = genre6_1['G14'].astype("string")

In [55]:
genre6_1.G14 = genre6_1['G14'].str.replace(' ', '')

In [56]:
genre6_1.G15.unique()

array(['empty', ' Thriller', ' Drama', ' Mystery', ' Fantasy', ' Sci-Fi',
       ' War', ' Family', ' Comedy', ' Music', ' Film-Noir', ' Crime',
       ' History', ' Horror', ' Romance', ' Adventure', ' Sport',
       ' Western', ' Musical'], dtype=object)

In [57]:
genre6_1['G15'] = genre6_1['G15'].astype("string")

In [58]:
genre6_1.G15 = genre6_1['G15'].str.replace(' ', '')

##### Genre5

In [61]:
without_dub_union.Genre5.fillna('empty', inplace=True)

In [62]:
without_dub_union['Genre5'] = without_dub_union['Genre5'].astype("string")
without_dub_union.Genre5

0       empty
1       empty
2       empty
3       empty
4       empty
        ...
5798    empty
5799    empty
5800    empty
5801    empty
5802    empty
Name: Genre5, Length: 5803, dtype: string

#####  Genre5 and genres6_1 concat (genres_concat3)

In [63]:
genres_concat3 = pd.concat([genre6_1.G13,genre6_1.G14,genre6_1.G15,without_dub_union.Genre5], axis=1)
genres_concat3

         G13    G14        G15 Genre5
0      empty  empty      empty  empty
1      empty  empty      empty  empty
2      empty  empty      empty  empty
3      empty  empty      empty  empty
4      empty  empty      empty  empty
...      ...    ...        ...    ...
5798  Action  Crime      Drama  empty
5799   Crime  Drama    Mystery  empty
5800   Drama  empty      empty  empty
5801  Action  Crime   Thriller  empty
5802   Crime  Drama  Film-Noir  empty

[5803 rows x 4 columns]

##### genres_union3

In [64]:
genres_concat3["genres_union3"] = (
    genres_concat3[['G13', 'G14', 'G15', 'Genre5']]
        .apply(lambda x: x.str.split(',\s*'))
        .sum(axis=1).map(np.array)
        .apply(lambda x: ', '.join(np.unique(x[x != 'empty'])))        
        .replace('', 'empty')
    )
genres_concat3.genres_union3

0                         empty
1                         empty
2                         empty
3                         empty
4                         empty
                 ...
5798       Action, Crime, Drama
5799      Crime, Drama, Mystery
5800                      Drama
5801    Action, Crime, Thriller
5802    Crime, Drama, Film-Noir
Name: genres_union3, Length: 5803, dtype: object

#### 9.2.4

##### genres_concat4

In [65]:
genres_concat4 = pd.concat([genres_concat1.genres_union1,genres_concat2.genres_union2, genres_concat3.genres_union3], axis=1)
genres_concat4

,genres_union1,genres_union2,genres_union3
0,"Action, Adventure, Thriller",empty,empty
1,"Action, Adventure, Comedy, Thriller",empty,empty
2,"Action, Adventure, Thriller",empty,empty
3,"Comedy, Fantasy, Horror",empty,empty
4,"Comedy, Horror",empty,empty
...,...,...,...
5798,"Crime, Drama, Thriller",empty,"Action, Crime, Drama"
5799,"Drama, Mystery",empty,"Crime, Drama, Mystery"
5800,Drama,empty,Drama
5801,"Action, Crime, Thriller",empty,"Action, Crime, Thriller"
5802,"Crime, Drama, Film-Noir",empty,"Crime, Drama, Film-Noir"

##### genres_union4

In [67]:
genres_concat4["genres_union4"] = (
    genres_concat4[['genres_union1', 'genres_union2', 'genres_union3']]
        .apply(lambda x: x.str.split(',\s*'))
        .sum(axis=1).map(np.array)
        .apply(lambda x: ', '.join(np.unique(x[x != 'empty'])))        
        .replace('', 'empty')
    )
genres_concat4.genres_union4

0               Action, Adventure, Thriller
1       Action, Adventure, Comedy, Thriller
2               Action, Adventure, Thriller
3                   Comedy, Fantasy, Horror
4                            Comedy, Horror
                       ...
5798         Action, Crime, Drama, Thriller
5799                  Crime, Drama, Mystery
5800                                  Drama
5801                Action, Crime, Thriller
5802                Crime, Drama, Film-Noir
Name: genres_union4, Length: 5803, dtype: object

#### 9.3 Split the genres_union4 and union with the without_dub_union.csv

##### Split

In [72]:
g_split = genres_concat4[['genres_union4']].copy()
g_split[['Genre_1', 'Genres_2', 'Genre_3', 'Genre_4', 'Genre_5',  'Genre_6' ]] = g_split['genres_union4'].str.split(',', expand=True)
g_split= g_split.drop(['genres_union4'], axis=1)
g_split

     Genre_1    Genres_2     Genre_3    Genre_4 Genre_5 Genre_6
0     Action   Adventure    Thriller       None    None    None
1     Action   Adventure      Comedy   Thriller    None    None
2     Action   Adventure    Thriller       None    None    None
3     Comedy     Fantasy      Horror       None    None    None
4     Comedy      Horror        None       None    None    None
...      ...         ...         ...        ...     ...     ...
5798  Action       Crime       Drama   Thriller    None    None
5799   Crime       Drama     Mystery       None    None    None
5800   Drama        None        None       None    None    None
5801  Action       Crime    Thriller       None    None    None
5802   Crime       Drama   Film-Noir       None    None    None

[5803 rows x 6 columns]

In [74]:
g_split.fillna('', inplace=True)
g_split

     Genre_1    Genres_2     Genre_3    Genre_4 Genre_5 Genre_6
0     Action   Adventure    Thriller
1     Action   Adventure      Comedy   Thriller
2     Action   Adventure    Thriller
3     Comedy     Fantasy      Horror
4     Comedy      Horror
...      ...         ...         ...        ...     ...     ...
5798  Action       Crime       Drama   Thriller
5799   Crime       Drama     Mystery
5800   Drama
5801  Action       Crime    Thriller
5802   Crime       Drama   Film-Noir

[5803 rows x 6 columns]

##### union with .csv

In [76]:
without_dub_union.columns

Index(['Unnamed: 0', 'Name', 'Year', 'Rating', 'Votes', 'Genre1', 'Runtime',
       'Type', 'Certificate', 'Episodes', 'Nudity', 'Violence', 'Profanity',
       'Alcohol', 'Frightening', 'Genre2', 'Metascore', 'Description1',
       'Gross', 'Genre3', 'Description2', 'Director', 'Actors', 'Certificate4',
       'Genre4', 'Description3', 'Actor1', 'Actor2', 'Actor3', 'Actor4',
       'Description4', 'Language', 'Average_Votes', 'Genre5', 'Premiere',
       'Poster_Link', 'Certificate7', 'Genre6', 'Description5', 'Star1',
       'Star2', 'Star3', 'Star4'],
      dtype='object')

In [80]:
without_dub_union = without_dub_union.drop(['Genre1', 'Genre2', 'Genre3', 'Genre4', 'Genre5', 'Genre6' ], axis=1)
without_dub_union.columns

KeyError: "['Genre1', 'Genre2', 'Genre3', 'Genre4', 'Genre5', 'Genre6'] not found in axis"

In [83]:
without_dub_union = without_dub_union.drop(['Unnamed: 0' ], axis=1)

In [84]:
classification_df = pd.concat([without_dub_union, g_split], axis=1)
classification_df.columns

Index(['Name', 'Year', 'Rating', 'Votes', 'Runtime', 'Type', 'Certificate',
       'Episodes', 'Nudity', 'Violence', 'Profanity', 'Alcohol', 'Frightening',
       'Metascore', 'Description1', 'Gross', 'Description2', 'Director',
       'Actors', 'Certificate4', 'Description3', 'Actor1', 'Actor2', 'Actor3',
       'Actor4', 'Description4', 'Language', 'Average_Votes', 'Premiere',
       'Poster_Link', 'Certificate7', 'Description5', 'Star1', 'Star2',
       'Star3', 'Star4', 'Genre_1', 'Genres_2', 'Genre_3', 'Genre_4',
       'Genre_5', 'Genre_6'],
      dtype='object')

In [86]:
classification_df.to_csv('movies_changes1.csv')