In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
details_api = pd.read_csv("detailsdf.csv")
discover_api = pd.read_csv("discover.csv")

In [3]:
details_api.columns

Index(['adult', 'backdrop_path', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'belongs_to_collection'],
      dtype='object')

In [4]:
discover_api.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [5]:
tmdb_df = pd.merge(details_api,
                 discover_api,
                 on='id')
tmdb_df.head()

,adult_x,backdrop_path_x,budget,genres,homepage,id,imdb_id,original_language_x,original_title_x,overview_x,...,original_language_y,original_title_y,overview_y,popularity_y,poster_path_y,release_date_y,title_y,video_y,vote_average_y,vote_count_y
0,False,/s16H6tpK2utvwDtzZ8Qy4qm5Emw.jpg,460000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.avatar.com/movies/avatar-the-way-o...,76600,tt1630029,en,Avatar: The Way of Water,Set more than a decade after the events of the...,...,en,Avatar: The Way of Water,Set more than a decade after the events of the...,7517.281,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,2022-12-14,Avatar: The Way of Water,False,7.8,2512
1,False,/6mEYUYdkKoVCMeYf3rTFj0L1uyv.jpg,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.violentnightmovie.com,899112,tt12003946,en,Violent Night,When a team of mercenaries breaks into a wealt...,...,en,Violent Night,When a team of mercenaries breaks into a wealt...,5355.272,/1XSYOP0JjjyMz1irihvWywro82r.jpg,2022-11-30,Violent Night,False,7.7,590
2,False,/tuDhEdza074bA497bO9WFEPs6O6.jpg,180000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,411,tt0363771,en,"The Chronicles of Narnia: The Lion, the Witch ...","Siblings Lucy, Edmund, Susan and Peter step th...",...,en,"The Chronicles of Narnia: The Lion, the Witch ...","Siblings Lucy, Edmund, Susan and Peter step th...",4914.832,/iREd0rNCjYdf5Ar0vfaW32yrkm.jpg,2005-12-07,"The Chronicles of Narnia: The Lion, the Witch ...",False,7.1,9050
3,False,/o0s4XsEDfDlvit5pDRKjzXR4pp2.jpg,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",3277.907,/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,2009-12-15,Avatar,False,7.6,27323
4,False,/53BC9F2tpZnsGno2cLhzvGprDYS.jpg,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",https://www.netflix.com/title/81245455/,736526,tt11116912,no,Troll,"Deep inside the mountain of Dovre, something g...",...,no,Troll,"Deep inside the mountain of Dovre, something g...",3196.809,/9z4jRr43JdtU66P0iy8h18OyLql.jpg,2022-12-01,Troll,False,6.7,855

In [6]:
tmdb_df.columns

Index(['adult_x', 'backdrop_path_x', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language_x', 'original_title_x', 'overview_x',
       'popularity_x', 'poster_path_x', 'production_companies',
       'production_countries', 'release_date_x', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'video_x',
       'vote_average_x', 'vote_count_x', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'belongs_to_collection',
       'adult_y', 'backdrop_path_y', 'genre_ids', 'original_language_y',
       'original_title_y', 'overview_y', 'popularity_y', 'poster_path_y',
       'release_date_y', 'title_y', 'video_y', 'vote_average_y',
       'vote_count_y'],
      dtype='object')

In [7]:
tmdb_df = tmdb_df.drop(["adult_x","adult_y","original_language_x","original_title_x",
                        "overview_x","popularity_x","poster_path_x","poster_path_y",
                        "release_date_x","adult_y","title_x","video_x",
                        "video_y","vote_average_x","vote_count_x","belongs_to_collection.id",
                        "belongs_to_collection.name","belongs_to_collection.poster_path",
                        "belongs_to_collection","backdrop_path_y",
                        "backdrop_path_x","production_companies","production_companies",
                        "belongs_to_collection.backdrop_path","genre_ids","original_title_y",
                        "status","tagline","production_countries","spoken_languages"], axis=1)
tmdb_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'imdb_id', 'revenue', 'runtime',
       'original_language_y', 'overview_y', 'popularity_y', 'release_date_y',
       'title_y', 'vote_average_y', 'vote_count_y'],
      dtype='object')

In [8]:
tmdb_df.rename(columns = {'original_language_y':'language','overview_y':'description', 
                          'release_date_y':'release_date','popularity_y':'popularity',
                          'title_y':'title','vote_average_y':'rating',
                          'vote_count_y':'votes'}, inplace = True)
tmdb_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'imdb_id', 'revenue', 'runtime',
       'language', 'description', 'popularity', 'release_date', 'title',
       'rating', 'votes'],
      dtype='object')

In [9]:
tmdb_df.runtime.isnull().values.any()

False

In [10]:
tmdb_df = tmdb_df.dropna(subset=['description'])
tmdb_df = tmdb_df.dropna(subset=['release_date'])

In [11]:
len(tmdb_df)

9872

In [12]:
tmdb_df.release_date

0       2022-12-14
1       2022-11-30
2       2005-12-07
3       2009-12-15
4       2022-12-01
           ...
9995    1949-03-10
9996    1972-05-25
9997    2019-06-01
9998    2015-10-30
9999    1998-04-19
Name: release_date, Length: 9872, dtype: object

In [13]:
date_split = tmdb_df[['release_date']].copy()
date_split[['year', 'date1', 'date2']] = date_split['release_date'].str.split('-', expand=True)
date_split= date_split.drop(['release_date'], axis=1)
date_split = date_split.drop(["date1","date2"], axis=1)
date_split

      year
0     2022
1     2022
2     2005
3     2009
4     2022
...    ...
9995  1949
9996  1972
9997  2019
9998  2015
9999  1998

[9872 rows x 1 columns]

In [14]:
date_split.year = pd.to_numeric(date_split.year)
date_split.year.dtypes

dtype('int64')

In [15]:
tmdb_df = tmdb_df.drop(['release_date'], axis=1)
tmdb_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'imdb_id', 'revenue', 'runtime',
       'language', 'description', 'popularity', 'title', 'rating', 'votes'],
      dtype='object')

In [16]:
tmdb_df = pd.concat([tmdb_df, date_split], axis=1)
tmdb_df.dtypes

budget           int64
genres          object
homepage        object
id               int64
imdb_id         object
revenue          int64
runtime          int64
language        object
description     object
popularity     float64
title           object
rating         float64
votes            int64
year             int64
dtype: object

In [17]:
tmdb_df.to_csv('tmdb_df.csv')